body {
    color: rgb(231, 173, 12);
    background: rgb(14, 13, 13);
    font-family: 'Qwitcher Grypen', Static;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(228, 13, 13);
    padding: 20px;
    font-size: 70px;
    color: rgb(250, 246, 246);
}

.chamada {
    background: rgb(212, 17, 17);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;


}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px
}

.categoria {

    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(10, 10, 10);
}

.categoria h2 {
    color: rgb(0, 0, 0);
}